body {
    background: #333333;
    background: -webkit-linear-gradient(to right, #dd1818, #333333);
    background: linear-gradient(to right, #dd1818, #333333);
    overflow-x: hidden;
}

h1 {
    font-family: "Bagel Fat One", serif;
    font-size: 80px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
}

